// button nav
@mixin button-nav ($colorBg, $colorFont, $fontSize, $paddingSize) {
    background-color: $colorBg;
    border-radius: 5px;
    padding: $paddingSize;
    border: 1px solid $dark-blue;
    font-size: $fontSize;
    font-weight: bold;
    color:$colorFont;
}

.btn-nav{
    @include button-nav($white, $dark-blue, 1em, 20px);
}

.btn-header{
    @include button-nav($dark-blue, $white, 1.2em, 20px);
}