.container-footer {
    @include flex-col-center;
    justify-content: flex-end;
    width: 100%;
    height: 636px;
    background-color: $grey;

    .wrapper{
        .container-contents-footer{

            width: 100%;
            text-align: center;
            width: max-content;

            .socials{
                display: flex;
                justify-content: space-between;
                padding-bottom: 80px;
            }
        }
    }
}

.pad{
    margin-bottom: 30px;
}

@media screen and (min-width: $max-mobile) and (max-width: $max-tablet) {

    .container-footer {
        .wrapper{
            .container-contents-footer{
                @include flex-center;
                width: 100%!important;
                text-align: center;
                transform: translateY(240px);
                .container-contents-logo, .socials, .copyright{
                    display: flex;
                    width:33.33%;
                }
                .copyright{
                    display: flex;
                    justify-content: center;
                }
                .socials{
                    padding-bottom: 80px;
                    justify-content: flex-end!important;
                    img{
                        margin-right: 20px;
                    }
                    img:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $max-mobile) and (max-width: $max-desktop) {

    .container-footer {
        .wrapper{
            .container-contents-footer{
                @include flex-center;
                width: 100%!important;
                text-align: center;
                transform: translateY(240px);
                .container-contents-logo, .socials, .copyright{
                    display: flex;
                    width:33.33%;
                }
                .copyright{
                    display: flex;
                    justify-content: center;
                }
                .socials{
                    padding-bottom: 80px;
                    justify-content: flex-end!important;
                    img{
                        margin-right: 20px;
                    }
                    img:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}