//colors
$dark-blue : #172339;
$blue:#49566D;
$grey:#F3EDE7;
$white:#FAF8F6;
$violet:#A060FF;
$pink:#CB30E3;
$orange:#FFA84E;

//typo

//heading XL
$heading-xl-size: 72px;
$heading-xl-line-space: 78px;
$heading-xl-char-space: -1px;

